


/**************header components*******************/
#rail-header {
	width: 100%;
	min-width: 980px;
	border-bottom: 5px solid #993333;
	height: 50px;
}

#railinc-logo {
	float: left;
	border: none;
	margin: 0;
	padding: 12px 10px 0 10px;
}

#rail-app-name {
	font-weight: normal;
	font-size: 16px;
	display: inline-block;
	float: left;
	color: #9d9fa1;
	border-left: 1px solid #9d9fa1;
	/*height: 26px;*/
	letter-spacing: 1px;
	margin: 17px 0 0 12px;
	padding: 0px 0px 0px 10px;
}

#rail-app-user {
	color: #000;
	font-size: 14px;
}

#rail-app-user-company {
	color: #990000;
	font-size: 12px;
}

/*******************utility navigation***************/
#util-nav-wrapper {
	float: right;
	min-width: 400px;
	text-align: right;
	margin: 0;
	height: 30px;
	padding: 0;
	background-color: #FFF;
}

#util-nav {
	position: relative;
	background-color: #FFF;
	padding: 5px 0 0 0;
	margin: 0 10px 0 0;
}

#util-nav li {
	display: inline;
	list-style: none;
	text-align: right;
	line-height: 36px;
	padding: 0 10px 0 10px;
	border-right: 1px solid #9d9fa1;
}

#util-nav li a {
	font-size: 12px;
	color: #9d9fa1;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#util-nav li:first-child a {
	border-left: 0;
	margin: 0;
	padding: 0;
}

#util-nav li a.launchPad {
	background-image: url(../images/arrow_grey.png);
	background-repeat: no-repeat;
	background-position: 100% 60%;
	width: 150px;
	padding: 0 20px 0 5px;
}

#util-nav li.lastLK {
	border: none;
}

#util-nav li a:hover {
	color: #900;
	text-decoration: underline;
}

/**************** Launch Pad *****************/
#rail-launch-pad {
	position: absolute; /*--Important--*/
	top: 27px;
	left: 15px;
	z-index: 99999;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #EAEAEA;
	padding: 5px 0 0 5px;
	background-color: #FFF;
	margin: 10px 0 0 0;
	display: none;
}

#rail-launch-pad ul {
	list-style: none;
	margin: 0;
	width: auto;
	float: left;
	padding: 5px 15px 5px 5px;
}

#rail-launch-pad ul li {
	width: 100%; /*--Override parent list item--*/
	color: #fff;
	text-align: left;
	display: block;
	white-space: nowrap;
	margin: 0;
	padding: 0;
	border: none;
	line-height: 24px;
}

#rail-launch-pad ul li h2 { /*--Sub nav heading style--*/
	font-size: 14px;
	font-weight: normal;
	border-bottom: 1px solid #000;
	white-space: nowrap;
	padding: 0;
	margin: 0 10px 0 0;
	color: #333;
}

#rail-launch-pad ul li h2 a { /*--Sub nav heading link style--*/
	background-image: none;
	color: #000;
}

#rail-launch-pad ul li a {
	float: none;
	text-indent: 0; /*--Override text-indent from parent list item--*/
	height: auto;
	display: block;
	text-decoration: none;
	width: auto;
	padding: 0 10px 0 10px;
	margin: 0;
}

#rail-launch-pad ul li a:hover {
	color: #900;
	text-decoration: underline;
	background-color: #FFF;
}
/**************** END Launch Pad *****************/

/**************** Application Navigation *****************/
#rail-app-nav,#rail-app-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

#rail-app-nav {
	line-height: 1.0;
}

#rail-app-nav ul {
	position: absolute;
	top: -999em;
	width: 12em; /* left offset of submenus need to match (see below) */
}

#rail-app-nav ul li {
	width: 100%;
}

#rail-app-nav li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}

#rail-app-nav li {
	width: 12em;
	float: left;
	position: relative;
}

#rail-app-nav a {
	display: block;
	position: relative;
}

#rail-app-nav li:hover ul,#rail-app-nav li.sfHover ul {
	left: 0;
	top: 2.5em; /* match top ul list item height */
	z-index: 9999;
}

#rail-app-nav li:hover li ul,#rail-app-nav li.sfHover li ul {
	top: -999em;
}

#rail-app-nav li li:hover ul,#rail-app-nav li li.sfHover ul {
	left: 12em; /* match ul width */
	top: 0;
}

#rail-app-nav li li:hover li ul,#rail-app-nav li li.sfHover li ul {
	top: -999em;
}

#rail-app-nav li li li:hover ul,#rail-app-nav li li li.sfHover ul {
	left: 12em; /* match ul width */
	top: 0;
}

/*** DEMO SKIN ***/
#rail-app-nav {
	font-size: 10pt;
	float: left;
	margin-bottom: 1em;
	background-color: #666;
	width: 100%;
	height: 2.5em;
}

/* First item in horizontal nav bar */
#rail-app-nav>li:first-child {
	border-left: none;
}

#rail-app-nav>li:first-child a {
	margin: 0 0 0 10px;
}

#rail-app-nav a {
	color: #fff;
	padding: .75em 1em;
	text-decoration: none;
}

#rail-app-nav a,#rail-app-nav a:visited {
	/* visited pseudo selector so IE6 applies text colour*/
	color: #fff;
}

#rail-app-nav ul {
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
}

#rail-app-nav li {
	background: #666;
	border-right: 1px solid #eaeaea;
}

#rail-app-nav li li {
	background: #666;
	border-bottom: 1px solid #eaeaea;
}

#rail-app-nav li li li {
	background: #666;
}

#rail-app-nav li:hover,#rail-app-nav li.sfHover,#rail-app-nav a:focus,#rail-app-nav a:hover,#rail-app-nav a:active
	{
	background: #933;
	outline: 0;
}

/*** arrows **/
#rail-app-nav a.sf-with-ul {
	padding-right: 2.25em;
	min-width: 1px;
	/* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator {
	position: absolute;
	display: block;
	right: .75em;
	top: 1.05em; /* IE6 only */
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background: url('../images/arrows-ffffff.png') no-repeat -10px -100px;
	/* 8-bit indexed alpha png. IE6 gets solid image only */
}

a>.sf-sub-indicator { /* give all except IE6 the correct values */
	top: .8em;
	background-position: 0 -100px;
	/* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus>.sf-sub-indicator,a:hover>.sf-sub-indicator,a:active>.sf-sub-indicator,li:hover>a>.sf-sub-indicator,li.sfHover>a>.sf-sub-indicator
	{
	background-position: -10px -100px;
	/* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
#rail-app-nav ul .sf-sub-indicator {
	background-position: -10px 0;
}

#rail-app-nav ul a>.sf-sub-indicator {
	background-position: 0 0;
}
/* apply hovers to modern browsers */
#rail-app-nav ul a:focus>.sf-sub-indicator,#rail-app-nav ul a:hover>.sf-sub-indicator,#rail-app-nav ul a:active>.sf-sub-indicator,#rail-app-nav ul li:hover>a>.sf-sub-indicator,#rail-app-nav ul li.sfHover>a>.sf-sub-indicator
	{
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
#rail-app-nav.sf-shadow ul {
	background: url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}

#rail-app-nav.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
/**************** END Application Navigation *****************/

/****************** Layout ******************/
#rail-app-container {
	margin:10px; 
/*width: 960px;*/
	/*min-height:300px;*/
}






/*******************footer***************************/
#rail-footer {
	border-top: 10px solid #933;
	background-color: #FFF;
	clear: both;
}



div#content-container { min-height: 300px; }