@CHARSET "ISO-8859-1";

html,body {
	font-family: Arial;
}

#content {
	float: left;
	width: 960px;
}

.registerBut {
	background-color: #666666;
	color: #FFFFFF;
	border: 4px outset #cccccc;
	width: 98%;
	font-weight: bolder;
}

.areaRed {
	background-color: #993333;
	color: #FFFFFF;
	border: 1px solid #993333;
	font-weight: bolder;
}

img {
	border: none;
}

span.bold {
	font-weight: bold;
}

.cellpadding {
	padding: 4px 0 4px 0
}

.ga_loginTable {
	border: 1px solid #993333;
	width: 400px;
	border-collapse: collapse;
	text-align: center;
	width: 390px;
	margin: 10px auto 10px auto;
}

.ga_loginTable td {
	padding: 4px 0 4px;
	margin: 0;
}

.ga_heading {
	color: #fff;
	background-color: #993333;
	text-align: center;
	font-weight: bolder;
}

.areaRedPortal {
	background-color: #993333;
	color: #FFFFFF;
	border: 1px solid #000000;
	font-weight: bolder;
	margin: 0 0 15px 0;
}

.areaLogin
{
	background-color: #C6C3C6;
	border-collapse: collapse;
	padding: 0 0 5px 0;
}