
.tabMenuContainer {
	padding-bottom: 10px;
	border-bottom: 10px solid #993333;
	margin-top: 15px;
	margin-bottom: 15px;
}

.tabMenuItem, .tabMenuItemOn {
	color: #000000;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom:10px;
	margin:5px;
	display: inline;
	font-weight: bold;
}

.tabMenuItem {
	background-color: #aaaaaa;
}

.tabMenuItemOn {
	background-color: #993333;
}

.tabMenuItem a,.tabMenuItem a:active,.tabMenuItem a:hover,.tabMenuItem a:visited,.tabMenuItemOn a,.tabMenuItemOn a:active,.tabMenuItemOn a:hover,.tabMenuItemOn a:visited
	{
	font-weight: bold;
	text-decoration: none;
}

.tabMenuItem a,.tabMenuItem a:active,.tabMenuItem a:hover,.tabMenuItem a:visited
	{
	color: #ffffff;
}

.tabMenuItemOn a,.tabMenuItemOn a:active,.tabMenuItemOn a:hover,.tabMenuItemOn a:visited
	{
	color: #ffffff;
}

.tabMenuItemDisabled {
	border-top: 2px solid #666666;
	border-right: 2px solid #cccccc;
	/* border-bottom: 5px solid #999999; */
	border-left: 2px solid #666666;
	color: #cccccc;
	background-color: #999999;
	font-weight: bold;
	padding: 5px 2px 6px 2px;
	margin: 0 2px 0 2px;
	text-decoration: none;
}
